@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
  cursor: pointer;
}

input {
  background-color: #f5f5f5;
  border-width: 1px;
}

.main {
  margin: 1rem;
}

.navButton {
  font-size: larger;
  /* background-color: #FBBF24; */
  /* border-color: #1AC4EF; */
  /* border-radius: 15px; */
  /* border-width: 2px; */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: .25rem;
}

.navButton:hover {
  /* background-color: #CC8F00; */
  color: #596475;
  
}

.loginFormInput {
  background-color: #f5f5f5;
  border-width: 1px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup .popupText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.popup:active .popupText {
  visibility: visible;
}



.imagePopup {
  position: relative;
  display: inline-block;
}

.imagePopup .imagePopupText {
  visibility: hidden;
  width: max-content;
  height: max-content;
  transform: scale(2);

  position: absolute;
  z-index: 1;
  top: -10px;
  left: 150%;
}

.imagePopup:hover .imagePopupText {
  visibility: visible;
}

