{% extends 'base.html' %}

  

  
{% block body %}

  <body>

    <div>
      <h1>Welcome {{ username }}!!!!</h1>
    </div>

    <form action="/like-fossil" method="POST">
      <div>
        <label for="likedFossil">Which is your favorite fossil</label>
      </div>
      <div>
        <select name="likedFossil" id="favoriteFossil" required>
          <option value="">Pick a Fossil</option>
          {% for fossilKey, fossilVal in MOST_LIKED_FOSSILS %}
          <option value="{{ fossilKey }}">{{ fossilVal.name }}</option>
          {% endfor %} 
        </select>
        <input type="submit">
      </div>
    </form>
    

    {% for fossilKey, fossilVal in MOST_LIKED_FOSSILS %}

    <div class="fossil-div">
      <h3>{{ username }} this is a {{ fossilVal.name }}:  </h3>
      <h2>Liked {{ fossilVal.num_likes }} times.</h2>
      <img src="{{ fossilVal.img }}"/>
    </div>
    
    {% endfor %} 
    
  </body>

{% endblock %}


